.add-container{
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: large;
}
.add-container button{
    width: 120px;
    padding: 10px;
    background-color: #2874f0;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.product-cp{
    display: flex;
    gap: 20px;
}
.inputs p{
    font-weight: 300;
    text-transform: capitalize;
    margin: 5px;
}
.inputs input,textarea,select{
    padding: 8px;
    font-size: large;
    outline-color:#2874f0 ;
    border: 1px solid #a9a9a9;
}
.star{
    color: gold;  
    font-size: smaller;
}
.upload-icon{
    color: #a9a9a9;
    border: 1px solid gray;
    width: 120px;
    height: 120px;
    padding: 2px;
    cursor:pointer;
}
.inputs .range{
    width: 100px;
}